.page-wrapper.page-index{

	.index-wrapper{
		margin: 0 auto;
		width: 700px;

		.composition{
			display: block;
			width: 300px;
			margin: 0 auto 30px;
		}

		.game-title{
			margin-bottom: 30px;
			text-align: center;
			font-size: 26px;
			color: #2a2118;
		}

		.clarification-text{
			margin-bottom: 30px;
			text-align: center;
			font-size: 16px;
			color: #2a2118;
		}

		.to-play-button{
			margin: 0 auto;
			display: block;
			width: 200px;
			border-radius: 2px;
			border: 1px solid #d4811c;
			box-shadow: 1px 1px 5px #9b9b9b;
			@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
			text-align: center;
			cursor: pointer;

			span{
				line-height: 38px;
				font-size: 18px;
				color: #ffffff;
			}

			&:hover{
				background: #e16f06;
			}
		}
	}
}