.page-wrapper.page-rating{

	.content-rating{
		margin: 0 auto;
		max-width: 700px;

		.menu{
			vertical-align: top;
			display: inline-block;
			width: 200px;


			ul{
				li{
					display: block;

					a{
						display: inline-block;
						padding: 10px 20px;
						width: 180px;
						font-size: 15px;
						color: #2a2118;

						&:hover{
							background: #d3d5d5;
						}
					}
				}
			}
		}

		.right-block{
			vertical-align: top;
			display: inline-block;
			width: 500px;
			min-height: 160px;
			padding: 0 20px 0;
			border-left: 2px solid #a4a3a2;

			.empty-list{
				a {
					text-decoration: underline;

					&:hover{
						text-decoration: none;
					}
				}
			}

			.note{
				margin: 0 0 10px 0;
				text-align: center;
				font-size: 14px;
				color: #eb2c39;
			}

			.styled-table{
				border-collapse: collapse;
				width: 100%;
				font-size: 14px;

				tr{

					td{
						padding: 12px 6px;
						text-align: center;
						color: #2a2118;
						border: 1px solid #c1c2c2;
						word-break: break-all;

						&.current-user{
							text-decoration: underline;
						}
					}

					&:nth-child(odd){
						td{
							background: #d8d9d9;
						}
					}

					&:nth-child(even){
						td{
							background: #e5e6e6;
						}
					}

					&.t-header{
						td{
							border-left: 1px solid #d88626;
							border-right: 1px solid #d88626;
							border-top: none;
							background: #e59334;
							color: #ffffff;

							&:first-child{
								border-left: 1px solid #e59334;
							}

							&:last-child{
								border-right: 1px solid #e59334;
							}
						}
					}
				}
			}
		}
	}
}