&.page-rules{

	.rules-list{
		.edit{
			vertical-align: top;
			margin: 0 5px;
			display: inline-block;
			background: $common-icons;
			@include sprite($common-icons, "edit_s19x20", true);
			font-size: 0;
		}

		.delete{
			vertical-align: top;
			margin: 0 5px;
			display: inline-block;
			background: $common-icons;
			@include sprite($common-icons, "delete_s19x20", true);
			font-size: 0;
		}
	}


	.field{
		position: relative;
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;

		input[type=text],
		input[type=password]{
			display: inline-block;
			width: 100%;
			line-height: 38px;
			padding: 0 10px;
			border: 1px solid #cecccc;
			background: #ffffff;
			color: #575757;
			font-size: 14px;
		}




		button{
			display: inline-block;
			width: 100%;
			@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
			cursor: pointer;


			span{
				font-size: 14px;
				color: #ffffff;
				font-weight: bold;
				line-height: 40px;
			}

			&:hover{
				background: #e16f06;
			}
		}

		&.years{

			min-height: 70px;

			.label{
				margin-bottom: 10px;
			}

			> .irs{

				margin: 0 9px;

				.irs-min,
				.irs-max{
					display: none;
				}

				.irs-from,
				.irs-to,
				.irs-single{
					top: -5px;
					border-radius: 4px;
					padding: 5px;
					background: orangered;
					color: #ffffff;
				}

				.irs-line{
					background: rgba(255, 69, 0, 0.5);
				}

				.irs-bar{
					background: orangered;
				}
			}
		}

		.t-checklist{

			user-select: none;

			> div {
				> div{
					display: inline-block;
					margin: 0 5px 5px 0;
					padding: 0;

					.checkbox{

						display: inline-block;
						margin: 0;
						padding: 0;

						label{

							display: inline-block;
							padding: 2px 4px;
							border: 1px solid orangered;
							border-radius: 2px;
							background: rgba(255,255,255, 1);
							font-size: 12px;
							cursor: pointer;

							input[type=checkbox]{
								display: none;
							}

							&:hover{
								background: orangered;
								color: #ffffff;
							}
						}

						&.checked{
							label{
								background: orangered;
								color: #ffffff;
							}
						}
					}
				}
			}
		}



		&.has-error{

			input[type=text],
			input[type=password]{
				border-color: #eb2c39;
			}

			.error-message{
				position: absolute;
				right: 0;
				top: 62px;
				font-size: 12px;
				color: #eb2c39;
			}
		}
	}

	.palette{
		.palette-controls{
			.glyphicon.glyphicon-arrow-right{
				&:after{
					content: ">>>"
				}
			}

			.glyphicon.glyphicon-arrow-left{
				&:after{
					content: "<<<"
				}
			}
		}
	}


}