.single-form-on-page{
	margin: 0 auto;
	width: 350px;
	border: 1px solid #cecccc;
	background: #d7d9d9;

	.title{
		background: #e47e07;
		line-height: 40px;
		text-align: center;
		color: #ffffff;
	}

	.form{
		padding: 20px 15px;

		.text{
			margin-bottom: 5px;
			font-size: 14px;
			color: #6f6f6f;
		}

		.success-message{
			font-size: 14px;
			margin-bottom: 10px;
			color: #40B748;
		}

		.field{
			position: relative;
			display: inline-block;
			width: 100%;
			margin-bottom: 20px;

			input[type=text],
			input[type=password]{
				display: inline-block;
				width: 100%;
				line-height: 38px;
				padding: 0 10px;
				border: 1px solid #cecccc;
				background: #ffffff;
				color: #575757;
				font-size: 14px;
			}

			button{
				display: inline-block;
				width: 100%;
				@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
				cursor: pointer;


				span{
					font-size: 14px;
					color: #ffffff;
					font-weight: bold;
					line-height: 40px;
				}

				&:hover{
					background: #e16f06;
				}
			}



			&.has-error{

				input[type=text],
				input[type=password]{
					border-color: #eb2c39;
				}

				.error-message{
					position: absolute;
					right: 0;
					top: 40px;
					font-size: 12px;
					color: #eb2c39;
				}
			}
		}

		.enter-link,
		.password-link{
			margin-bottom: 5px;
			display: block;
			font-size: 14px;
			color: #6f6f6f;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}