.default-form.style_1{
	.field{
		position: relative;
		display: block;
		margin: 0 0 20px 0;

		.label{
			display: block;
			margin: 0 0 5px 0;
			font-size: 14px;
		}

		.input{

			display: block;


			&.input-text{
				input[type="text"],
				input[type="password"]{
					display: inline-block;
					@include box-sizing();
					width: 100%;
					height: 30px;
					border: 1px solid gray;
					padding: 0 10px;
					background: #ececec;
					font-size: 14px;
					line-height: 30px;
					color: #000000;
					outline: none;

					&:focus,
					&:active{
						outline: none;
					}
				}
			}

			&.input-button{
				button
				input[type="button"],
				input[type="submit"]{
					display: inline-block;
					@include box-sizing();
					width: 100%;
					height: 30px;
					border: 1px solid gray;
					padding: 0 10px;
					background: #ececec;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					color: #000000;
					outline: none;
					cursor: pointer;

					&:focus,
					&:active{
						outline: none;
					}
				}
			}
		}

		.select{
			> select{
				display: inline-block;
				@include box-sizing();
				width: 100%;
				height: 30px;
				border: 1px solid gray;
				background: #ececec;
				font-size: 14px;
				line-height: 30px;
				color: #000000;
				outline: none;
			}
		}

		&.t-error{
			.label{
				color: #FF0000;
			}

			.tjq-error-popup,
			.t-error-single{
				position: absolute;
				left: 0;
				bottom: -16px;
				background: transparent;
				font-size: 12px;
				color: #FF0000;
			}

			.t-error-icon{
				display: none !important;
			}
		}
	}
}