html{

	width: 100%;
	height: 100%;

	body{

		width: 100%;
		height: 100%;
		overflow-y: scroll;
		background:
				url("/static/images/decorations/film-tape.png") center top no-repeat,
				url("/static/images/decorations/Ilford_Delta_400.png");

		> *:not(.site-wrapper) {
			display: none;
		}

		.site-wrapper{

			width: 100%;
			height: 100%;

			.page-wrapper{
				display: table;
				width: 100%;
				height: 100%;
				font-family: OpenSans_Semibold;

				.content{
					display: table-row;
					width: 100%;
					height: 100%;
					box-shadow: 0 -2px 4px rgba(193, 193, 193, 0.5);
					border-top: 1px solid rgba(198, 200, 200, 0.5);
					background: rgba(255,255,255, 0.3);

					.content-wrapper{
						padding: 30px 0;
					}
				}
			}
		}
	}
}