<html t:type="layout" t:pageTitle="Восстановление пароля"
	  xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	  xmlns:p="tapestry:parameter">

<div class="page-wrapper page-forgotten-password">

	<t:header/>

	<div class="content">
		<div class="content-wrapper">
			<div class="single-form-on-page enter">
			<t:zone t:id="forgottenZone">
				<div class="title">Восстановление пароля</div>

				<t:form t:id="forgottenForm" t:clientValidation="none" class="form " t:zone="forgottenZone">
					<div class="text">Введите e-mail на который Вы зарегистрированы. Мы отошлем Вам новый пароль.</div>
					<t:if test="success">
						<div class="success-message">
							Новый пароль отправлен на Ваш почтовый адресс.
						</div>
					</t:if>
					<div class="field">
						<t:textfield
							value="email"
							t:id="emailField"
							autocomplete="off"
							placeholder="E-mail"
							validate="required,regexp,maxLength=30"
						/>
						<t:error for="emailField" class="error-message"/>
					</div>
					<div class="field">
						<button type="submit"><span>Восстановить пароль</span></button>
					</div>
				</t:form>
			</t:zone>
		</div>
		</div>
	</div>

</div>

</html>