.page-wrapper.page-cabinet{

	.content-cabinet{
		margin: 0 auto;
		max-width: 700px;

		.cabinet-menu{
			vertical-align: top;
			display: inline-block;
			width: 200px;


			ul{
				li{
					display: block;

					a{
						display: inline-block;
						padding: 10px 20px;
						width: 180px;
						font-size: 15px;
						color: #2a2118;

						&:hover{
							background: #d3d5d5;
						}
					}
				}
			}
		}

		.right-block{
			vertical-align: top;
			display: inline-block;
			width: 500px;
			padding: 0 20px 0;
			border-left: 2px solid #a4a3a2;

			.page-title{
				margin-bottom: 20px;
				font-size: 26px;
			}

			.success-message{
				font-size: 14px;
				margin-bottom: 10px;
				color: #40B748;
			}

			.cabinet-form{
				display: block;
				max-width: 300px;

				.field{
					position: relative;
					z-index: 1;
					display: inline-block;
					width: 100%;
					margin-bottom: 20px;

					input[type=text],
					input[type=password]{
						display: inline-block;
						width: 100%;
						padding: 0 10px;
						border: 1px solid #cecccc;
						background: #ffffff;
						line-height: 38px;
						font-size: 14px;
						color: #575757;

						&:disabled{
							background: #cecccc;
						}
					}

					button{
						display: inline-block;
						width: 100%;
						@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
						cursor: pointer;


						span{
							font-size: 14px;
							color: #ffffff;
							font-weight: bold;
							line-height: 40px;
						}

						&:hover{
							background: #e16f06;
						}
					}

					&.has-error{

						input[type=text],
						input[type=password]{
							border-color: #eb2c39;
						}

						.error-message{
							position: absolute;
							right: 0;
							top: 40px;
							font-size: 12px;
							color: #eb2c39;
						}
					}
				}
			}
		}
	}

}