<html t:type="layout" t:pageTitle="Изменить личные данные"
	  xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	  xmlns:p="tapestry:parameter">

<div class="page-wrapper page-cabinet cabinet-data">

	<t:header/>

	<div class="content">
		<div class="content-wrapper">
			<div class="content-cabinet">
				<t:cabinetmenu/>
				<div class="right-block">
					<div class="page-title">Мои данные</div>
					<t:zone t:id="dataZone">

						<t:if test="success">
							<div class="success-message">Данные изменены</div>
						</t:if>

						<t:form t:id="dataForm" t:clientValidation="none" class="form cabinet-form form-registration" t:zone="^">

							<div class="field">
								<t:textfield value="user.username" placeholder="Логин" t:id="usernameField" autocomplete="off" disabled="true"/>
							</div>
							<div class="field">
								<t:textfield
										value="email"
										placeholder="E-mail"
										t:id="emailField"
										autocomplete="off"
										validate="required,regexp,maxLength=30"
								/>
								<t:error for="emailField" class="error-message"/>
							</div>
							<div class="field">
								<button type="submit"><span>Сохранить</span></button>
							</div>
						</t:form>
					</t:zone>
				</div>
			</div>
		</div>
	</div>

</div>

</html>