.js-checklist{

	margin: 0 -5px;

	> div {
		> div{
			display: inline-block;
			margin: 5px;
			padding: 0;

			.checkbox{

				display: inline-block;
				margin: 0;
				padding: 0;

				label{

					display: inline-block;
					padding: 2px 4px;
					border: 1px solid orangered;
					border-radius: 4px;

					input[type=checkbox]{
						display: none;
					}

					&:hover{
						background: rgba(255, 69, 0, 0.75);
						color: #ffffff;
					}
				}

				&.checked{
					label{
						background: orangered;
						color: #ffffff;
					}
				}
			}
		}
	}
}