.game-window{

	position: relative;
	width: 600px;
	margin: 0 auto;
	font-family: OpenSans_Semibold;

	.game-start-block{

		opacity: 0;
		transition: opacity 0.4s linear;

		.start-game-title{
			margin-bottom: 20px;
			text-align: center;
			font-size: 26px;
			color: #2a2118;
		}

		.system-rules{

			position: relative;
			z-index: 1;

			.swiper-container{

				position: relative;

				.swiper-slide{
					display: inline-block;
					width: 261px;
					height: 185px;
					padding: 28px 7px;
					background: url("/static/images/decorations/frame.png") 0 0 no-repeat;

					.wrapper{
						position: relative;
						display: table;
						width: 100%;
						height: 100%;

						.text-wrapper{
							position: relative;
							z-index: 2;
							display: none;
							background: rgba(0, 0, 0, 0.3);
							vertical-align: middle;
							text-align: center;
							color: #ffffff;
						}
					}

					&.swiper-slide-active{
						.wrapper{
							.text-wrapper{
								display: table-cell;
							}
						}
					}
				}
			}

			.nav{
				position: absolute;
				top: 50%;
				margin-top: -18px;
				display: inline-block;
				background: $common-icons;
				cursor: pointer;

				&.next{
					right: -40px;
					@include sprite($common-icons, "gray-arrow-right_s34x36", true);
				}

				&.prev{
					left: -40px;
					@include sprite($common-icons, "gray-arrow-left_s34x36", true);
				}

				&.swiper-button-disabled,
				&:hover{
					opacity: 0.5;
				}
			}
		}

		.start-button{
			margin-top: 20px;
			text-align: center;

			.iconed-button{
				&:before{
					margin: 6px 10px 5px;
					@include sprite($common-icons, "white-play_s26x29", true);
				}
			}
		}

		&.slider-init{
			opacity: 1;
		}
	}

	.game-active-block{
		.top-line{

			margin-bottom: 2%;

			.tips{

				vertical-align: top;
				display: inline-block;

				.tip{
					vertical-align: top;
					margin: 0 10px 0 0;
					display: inline-block;
					width: 90px;
					height: 40px;
					border-radius: 2px;
					border: 1px solid #d4811c;
					box-shadow: 1px 1px 5px #9b9b9b;
					@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
					line-height: 40px;
					text-align: center;

					&.additional-image{
						&:before{
							margin: 3px 0 0 0;
							display: inline-block;
							background: $common-icons;
							@include sprite($common-icons, "additional-image_s34x30", true);
							content: "";
						}
					}

					&.fiftyFifty{
						&:before {
							display: inline-block;
							font-size: 20px;
							font-weight: bold;
							color: #ffffff;
							content: "50/50";
						}
					}

					&.skip{
						&:before {
							margin: 5px 0 0 0;
							display: inline-block;
							background: $common-icons;
							@include sprite($common-icons, "skip-question_s32x26", true);
							content: "";
						}
					}


					&:hover{
						background: #e16f06;
					}

					&.disabled{
						opacity: 0.6;
						cursor: default;

						&:hover{
							@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
						}
					}

				}
			}

			.game-controls{

				vertical-align: top;
				display: inline-block;

				.game-control{
					vertical-align: top;
					margin: 0 10px 0 0;
					display: inline-block;
					width: 40px;
					height: 40px;
					border-radius: 2px;
					border: 1px solid #d4811c;
					box-shadow: 1px 1px 5px #9b9b9b;
					@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
					line-height: 40px;
					text-align: center;


					&.pause{

						position: relative;
						z-index: 1;

						&:before {
							margin: 8px 0 0 0;
							display: inline-block;
							background: $common-icons;
							@include sprite($common-icons, "pause_s21x21", true);
							content: "";
						}



						.tip{
							position: relative;
							left: -80px;
							top: -60px;
							z-index: 1;
							display: none;
							width: 200px;
							background: #d0d0d1;
							border: 1px solid #99999a;
							border-radius: 2px;
							padding: 10px;
							font-size: 12px;
							line-height: 14px;
							transition: top 1s ease 1s;

							&:after{
								position: absolute;
								left: 50%;
								bottom: -10px;
								z-index: 1;
								margin-left: -10px;
								display: inline-block;

								border-top: 10px solid #d0d0d1;
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;
								content: "";

							}
						}

						&.active{
							background: #be5f06;

							.tip{
								display: block;
								top: -100px;
							}
						}
					}



					&.stop{
						&:before {
							margin: 8px 0 0 0;
							display: inline-block;
							background: $common-icons;
							@include sprite($common-icons, "stop_s21x21", true);
							content: "";
						}
					}

					&:last-child{
						margin: 0;
					}

					&:hover{
						background: #e16f06;
					}

					&.disabled{
						opacity: 0.6;
						cursor: default;

						&:hover{
							@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
						}
					}

					&.pause {

					}
				}
			}

			.answers-count{
				float: right;
				display: inline-block;
				color: #2a2118;
				font-size: 16px;
				line-height: 40px;

				.count{
					font-weight: bold;
				}
			}
		}

		.image-wrapper{
			position: relative;
			z-index: 1;
			margin-bottom: 2%;
			display: block;
			background: #a3a3a3;
			border-radius: 2px;
			padding: 8px;

			img{
				max-width: 100%;
				height: auto;
			}

			.toggle-image-handler{
				position: absolute;
				left: 10px;
				top: 10px;
				z-index: 1;
				display: inline-block;
				border-radius: 2px;
				border: 1px solid #d4811c;
				box-shadow: 1px 1px 5px #9b9b9b;
				@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
				font-size: 0;
				cursor: pointer;

				&:after{
					margin: 3px;
					display: inline-block;
					background: $common-icons;
					@include sprite($common-icons, "white-change-image_s22x22", true);
					content: "";
				}

				&:hover{
					background: #e16f06;
				}
			}

			.scale{
				display: block;
				width: 100%;
				height: 30px;
				border: 1px solid #af9d7f;
				border-radius: 2px;
				box-shadow: 0 0 3px #af9d7f inset;
				padding: 2px;
				background: #e6d1ae;

				.progress{
					width: 0;
					height: 24px;
					display: inline-block;
					transition: width 1s linear;
					background: url("/static/images/decorations/we.gif") repeat-x;
				}
			}
		}

		.variants{
			.variant{
				vertical-align: top;
				display: inline-block;
				width: 49%;
				height: 40px;
				overflow: hidden;
				border-radius: 2px;
				border: 1px solid #d4811c;
				box-shadow: 1px 1px 5px #9b9b9b;
				padding: 0 15px;
				@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
				line-height: 17px;
				text-align: center;
				color: #ffffff;

				> div{

					display: table;
					width: 100%;

					> div {
						display: table-cell;
						height: 38px;
						vertical-align: middle;
						text-align: center;
						overflow: hidden;
					}
				}

				&:nth-child(odd){
					margin-right: 2%;
				}

				&:nth-child(1),
				&:nth-child(2){
					margin-bottom: 2%;
				}

				&:hover{
					background: #e16f06;
				}

				&.disabled{
					opacity: 0.6;
					cursor: default;

					&:hover{
						@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
					}
				}
			}
		}
	}

	.game-paused-block{
		.pause-window{

			.pause-cup{
				margin: 20px auto;
				display: block;
				width: 300px;
			}

			.title{
				text-align: center;
			}

			.buttons{
				text-align: center;

				.iconed-button{

					&.resume-button{

						margin: 20px 0;

						&:before{
							margin: 7px 12px 7px 12px;
							@include sprite($common-icons, "white-play_s26x29", true);
						}
					}

					&.complete-button{
						&:before{
							margin: 10px 15px 9px 14px;
							@include sprite($common-icons, "stop_s21x21", true);
						}
					}
				}
			}
		}
	}

	.game-end-block{

		text-align: center;

		.result-title{
			margin-bottom: 20px;
			text-align: center;
			font-size: 16px;
		}

		.complete-reason{
			margin-bottom: 20px;
			text-align: center;

			.correct-answer{
				display: block;
				color: #e78d09;
			}
		}

		.answers-count{
			margin-bottom: 20px;

			> span{
				font-size: 16px;
				color: #e78d09;
			}
		}

		.unauthorized-message{
			margin-bottom: 20px;
			color: red;
			font-size: 14px;

			> a{
				text-decoration: underline;

				&:hover{
					text-decoration: none;
				}
			}
		}
	}

	#gameZone {
		.loader{
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			display: none;
			width: 100%;
			height: 100%;
			background: url("/static/images/decorations/orange-loader_s80x80.gif") center center no-repeat;
		}

		&.in-update{

			overflow: hidden;
			opacity: 0.5;

			.loader{
				display: block;
			}
		}
	}
}