.header{
	display: block;
	width: 100%;
	padding: 13px 0 17px;
	font-family: OpenSans_Semibold;




	.wrapper-1000px{

		position: relative;

		.menu{
			display: inline-block;

			ul{
				margin: 0;
				li{
					display: inline-block;
					margin: 0 20px 0 0;

					a{
						font-size: 14px;
						font-weight: bold;
						border-bottom: 1px solid transparent;

						&:hover{
							border-bottom: 1px solid;
						}
					}
				}
			}
		}

		.auth-block{
			float: right;

			.auth-links{
				.link{
					display: inline-block;
					font-size: 14px;
					font-weight: bold;
					cursor: pointer;

					&.enter{
						margin: 0 20px 0 0;
					}

					&:hover{
						border-bottom: 1px solid;
					}
				}
			}

			.header-cabinet-block{
				position: relative;
				z-index: 10;
				display: inline-block;
				width: 200px;

				.greeting{
					font-size: 14px;
					font-weight: bold;
					border-bottom: 1px solid;
				}
			}
		}
	}
}