.rules-form{
	padding: 30px 0 0 0;
	font-size: 14px;

	.rules-list{

		display: none;

		.rule{

			margin: 0 0 20px 0;

			.title{
				text-transform: uppercase;
				font-size: 12px;
			}

			&.genres{}

			&.years{
				min-height: 70px;

				.title{
					margin: 0 0 10px 0;
				}

				> .irs{

					margin: 0 9px;

					.irs-min,
					.irs-max{
						display: none;
					}

					.irs-from,
					.irs-to,
					.irs-single{
						top: -5px;
						border-radius: 4px;
						padding: 5px;
						background: orangered;
						color: #ffffff;
					}

					.irs-line{
						background: rgba(255, 69, 0, 0.5);
					}

					.irs-bar{
						background: orangered;
					}
				}
			}
		}
	}

	.start-buttom{
		text-align: center;
	}
}