.hidden{
	display: none!important;
}

.wrapper-1000px{
	display: block;
	width: 1000px;
	margin: 0 auto;
}

.no-margin{
	margin: 0 !important;
}

.no-padding{
	padding: 0 !important;
}

.styled-button{
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #d4811c;
	box-shadow: 1px 1px 5px #9b9b9b;
	@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
	cursor: pointer;

	span{
		position: relative;
		vertical-align: top;
		display: inline-block;
		padding: 0 40px;
		line-height: 38px;
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
	}

	&:hover{
		background: #e16f06;
	}
}

.iconed-button{
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #d4811c;
	box-shadow: 1px 1px 5px #9b9b9b;
	@include background-image(linear-gradient(to bottom, #e78d09, #e16f06));
	cursor: pointer;

	&:before{
		vertical-align: top;
		display: inline-block;
		background: $common-icons;
		content: "";
	}

	span{
		position: relative;
		vertical-align: top;
		display: inline-block;
		padding: 0 40px;
		line-height: 40px;
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;

		&:before{
			position: absolute;
			left: 0;
			top: 0;
			display: inline-block;
			width: 1px;
			height: 100%;
			box-shadow: 1px 0 2px #ffffff;
			content: "";
		}
	}

	&:hover{
		background: #e16f06;
	}
}