@charset "UTF-8";

@import "compass/utilities/sprites";
@import "compass/css3/appearance";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/columns";
@import "compass/css3/images";
@import "compass/css3/user-interface";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/flexbox";


@font-face {
	font-family: 'OpenSans_Semibold';
	src: url('/static/fonts/opensans-semibold/2212-webfont.eot');
	src: url('/static/fonts/opensans-semibold/2212-webfont.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/opensans-semibold/2212-webfont.woff2') format('woff2'),
	url('/static/fonts/opensans-semibold/2212-webfont.woff') format('woff'),
	url('/static/fonts/opensans-semibold/2212-webfont.ttf') format('truetype'),
	url('/static/fonts/opensans-semibold/2212-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}




$common-icons : sprite-map("icons/common-icons/**/*.png", $layout: smart);

