*{
	margin: 0;
	border: none;
	padding: 0;
	background: none;
	@include box-sizing("border-box");
	outline: none;

	&:active,
	&:focus{
		outline: none;
	}
}

ul{
	list-style-type: none;
}

a,
a:hover,
a:focus,
a:active{
	text-decoration: none;
	color: inherit;
}

