<html t:type="layout" t:pageTitle="Создание и редактирование правил"
	  xmlns:t="http://tapestry.apache.org/schema/tapestry_5_1_0.xsd"
	  xmlns:p="tapestry:parameter" xmlns:r="http://tapestry.apache.org/schema/tapestry_5_1_0.xsd">

<div class="page-wrapper page-admin page-rules">

	<t:header/>

	<div class="content">
		<div class="content-wrapper">
			<t:zone t:id="rulesListZone">
				<div class="rules-list">
					<t:if test="!rulesList">

						Никаких правил не создано

						<p:else>
							<t:loop source="rulesList" value="rules">
								<div>
									${rules.getId()} &nbsp; ${rules.getName()} &nbsp; ${rules.getMinYear()} &mdash; ${rules.getMaxYear()}
									&nbsp; жанров: ${rules.getGenres().size()} &nbsp; стран: ${rules.getCountries().size()}
									<t:eventlink zone="rulesFormZone" t:event="edit" context="${rules.getId()}" class="edit">edit</t:eventlink>
									<t:eventlink zone="rulesListZone" t:event="remove" context="${rules.getId()}" class="delete">del</t:eventlink>
								</div>
							</t:loop>
						</p:else>
					</t:if>
				</div>
			</t:zone>

			<t:zone t:id="rulesFormZone">
				<form t:type="form" t:id="rulesForm" t:zone="rulesListZone" class="rules-form">
					<div class="rules-list">
						<t:hidden value="rules.id" t:id="idField" autocomplete="off" validate="required"/>
						<div class="field">
							<t:label class="label" for="nameField">Название:</t:label>
							<t:textfield value="rules.name" t:id="nameField" autocomplete="off" validate="required"/>
							<t:error for="nameField" class="error-message"/>
						</div>

						<div class="field">
							<t:label class="label" for="imageField">Картинка:</t:label>
							<t:textfield value="rules.background" t:id="imageField" autocomplete="off" validate="required"/>
							<t:error for="imageField" class="error-message"/>
						</div>

						<div class="field">
							<div class="label" >Типы продукции</div>
							<div>
								<t:checkbox value="rules.allowedFilms"/> фильмы
							</div>
							<div>
								<t:checkbox value="rules.allowedSerials"/> сериалы
							</div>
							<div>
								<t:checkbox value="rules.allowedMiniSerials"/> мини-сериалы
							</div>
						</div>

						<div class="field years">
							<div class="label">Год производства</div>
							<div class="years-slider"></div>
							<div class="hidden">
								<t:textfield value="minYear" t:id="minYear" class="minYear-input"/>
								<t:textfield value="maxYear" t:id="maxYear" class="maxYear-input"/>
								<t:textfield value="rules.minYear" t:id="fromYear" class="fromYear-input"/>
								<t:textfield value="rules.maxYear" t:id="toYear" class="toYear-input"/>
							</div>
						</div>
						<div class="field genres">
							<div class="label">Жанры</div>
							<t:palette model="genreSelectModel" selected="selectedGenres" encoder="genreEncoder"/>
						</div>
						<div class="field countries">
							<div class="label">Страны</div>
							<t:palette model="countriesSelectModel" selected="selectedCountries" encoder="countryEncoder"/>
						</div>


						<div class="field">
							<t:submit value="Сохранить"/>
						</div>
					</div>

					<!--<div class="start-buttom">

						<t:if test="badRules">
							<div>
								По выбранным правилам найдено слишком мало фильмов.
								<br/>Пожалуйста, расширьте правила.
							</div>
						</t:if>
					</div>-->
				</form>
			</t:zone>
		</div>
	</div>
</div>

</html>